
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>График курса валют</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="#" rel="shortcut icon">
    <link crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">

    <style>
        body {
            font-family: sans-serif;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

    </style>

    <script crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}">
    </script>
</head>
<body>
<div class="container">
    <div class="mt-3">
        <form>
            <div class="form-group row mb-3">
                <label class="col-2 col-form-label" for="currency">
                    Валюта
                </label>
                <div class="col-6">
                    <select class="w-100 p-1" id="currency" name="currency">
                        <option value="">
                            Выберите валюту
                        </option>
                    </select>
                </div>
            </div>


            <div class="form-group row mb-1">
                <label class="col-2 col-form-label" for="dateFrom">
                    Дата от
                </label>
                <div class="col-6">
                    <input class="w-100 p-1" id="dateFrom" name="dateFrom" type="date">
                </div>
            </div>

            <div class="form-group row mb-1">
                <label class="col-2 col-form-label" for="dateTo">
                    Дата до
                </label>
                <div class="col-6">
                    <input class="w-100 p-1" id="dateTo" name="dateTo" type="date">
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-2"></div>
                <div class="col-6 d-flex align-self-end justify-content-end">
                    <button class="btn btn-success " id="submitButton" type="button">
                        Выполнить
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <canvas class="w-100" id="myChart"></canvas>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js}">
</script>

<script>
    const currency = document.getElementById('currency');
    const dateFrom = document.getElementById("dateFrom");
    const dateTo = document.getElementById("dateTo");


    const dateNow = new Date()
    const dateLastYear = new Date()
    dateLastYear.setFullYear(dateNow.getFullYear() - 1);
    dateFrom.setAttribute("min", dateLastYear.toISOString().split("T")[0])
    dateFrom.setAttribute("max", dateNow.toISOString().split("T")[0])
    dateTo.setAttribute("min", dateLastYear.toISOString().split("T")[0])
    dateTo.setAttribute("max", dateNow.toISOString().split("T")[0])

    $(document).ready(function () {
        $('#submitButton').click(function (e) {
            if (!currency.value || !dateFrom.value || !dateTo.value) {
                e.preventDefault()
            } else {
                drawChart()
            }
        });
    });

    let currencies = []
    let chart = null

    getDataAndBuildOptions()

    async function getDataAndBuildOptions() {
        $.getJSON('https://api.nbrb.by/exrates/currencies').done(function (data) {
            if (data) {
                currencies = data;
                currencies = getCurrenciesFromTo(currencies, dateLastYear, dateNow)
                buildOptions(currencies)
            }
        }).fail(function (data) {
            console.log('Error occurred with '+ 'https://api.nbrb.by/exrates/currencies')
        })
    }

    function getCurrenciesFromTo(currencies, start, end){
        const realRequests = getRequests(currencies, start, end, false)
        const realIds = realRequests.map(r => r.cur_id)
        return currencies.filter(c => realIds.findIndex(e=>e === c.Cur_ID) >= 0)
    }

    function buildOptions(currencies) {
        const currencyMap = new Map();
        currencies.forEach((c) => currencyMap.set(
            c.Cur_ParentID,
            {
                parentId: c.Cur_ParentID,
                abbr: c.Cur_Abbreviation,
                name: c.Cur_Name
            }));
        const options = Array.from(currencyMap.values()).sort((a, b) => a['abbr'].localeCompare(b['abbr']))
        options.forEach(opt => {
            const elem = document.createElement('option');
            elem.value = opt.parentId;
            elem.text = opt.abbr + ' (' + opt.name + ')';
            currency.appendChild(elem);
        })
    }

    async function drawChart() {
        destroyChart()
        const parentId = parseInt(currency.value);
        const startDate = new Date(dateFrom.value);
        const endDate = new Date(dateTo.value);

        const selected = getCurrenciesByParentId(parentId);
        const requests = getRequests(selected, startDate, endDate, true)
        const allData = await Promise.all(requests.map(async (c) => {
            const data = await fetch(`https://api.nbrb.by/exrates/rates/dynamics/${c.cur_id}?startdate=${c.startdate.toDateString()}&enddate=${c.enddate.toDateString()}`)
                .then(response => response.json());
            return {Cur_ID: c.cur_id, data};
        }));

        // 5. Объединяем и сортируем данные
        const mergedData = allData.reduce((acc, curr) => acc.concat(curr.data), []);
        mergedData.sort((a, b) => compareDateISOStringNatural(a.Date, b.Date));

        // 6. Создаем график
        const dates = mergedData.map(i => new Date(i.Date).toISOString().split("T")[0]);
        const rates = mergedData.map(i => i.Cur_OfficialRate);
        chart = new Chart("myChart", {
            type: "line",
            data: {
                labels: dates,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: rates
                }]
            },
            options: {
                responsive: true,
                legend: {display: false},
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            tooltipFormat: 'dd MMM yyyy'
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    function destroyChart() {
        if (!!chart) {
            chart.destroy()
        }
    }

    function getCurrenciesByParentId(parentId) {
        return currencies.filter(c => c.Cur_ParentID === parentId)
    }

    function getRequests(currencies, start, end, isOnce) {
        let requests = [];
        for (let i = 0; i < currencies.length; i++) {
            const c = currencies[i];
            const startC = new Date(c.Cur_DateStart);
            const endC = new Date(c.Cur_DateEnd);
            if (startC < start && endC < start) {
                continue;
            }
            if (startC > end && endC > end) {
                continue;
            }
            if (startC <= start && end <= endC) {
                if(isOnce){
                    requests = [{cur_id: c.Cur_ID, startdate: start, enddate: end}];
                    break;
                }else{
                    requests.push({cur_id: c.Cur_ID, startdate: start, enddate: end});
                    continue;
                }
            }
            if (start < startC && endC < end) {
                requests.push({cur_id: c.Cur_ID, startdate: startC, enddate: endC});
                continue;
            }
            if (startC <= start && start <= endC) {
                requests.push({cur_id: c.Cur_ID, startdate: start, enddate: endC});
                continue;
            }
            if (startC <= end && end <= endC) {
                requests.push({cur_id: c.Cur_ID, startdate: startC, enddate: end});
            }
        }
        return requests;
    }

    function compareDateNatural(a, b) {
        return (a > b) - (a < b)
    }

    function compareDateISOStringNatural(a, b) {
        return compareDateNatural(new Date(a), new Date(b))
    }
</script>

<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}">
</script>
</body>

</html>